
.DS_Store
fulldata_07_24_05_P_휴게음식점.csv
.ipynb_checkpoints/Untitled-checkpoint.ipynb
localdata_SampleSource.zip
localdata_SampleSource/[붙임1] 지방행정인허가데이터개방_자치단체코드목록.xlsx
localdata_SampleSource/[붙임1] 지방행정인허가데이터개방_자치단체코드목록.xlsx
localdata_SampleSource/[붙임2] 지방행정인허가데이터개방_상세제공항목v4.2.xlsx
localdata_SampleSource/[붙임3] 지방행정인허가데이터개방_업종코드목록v2.2.xlsx
localdata_SampleSource/apiSample.jsp
localdata_SampleSource/apiSampleController.java
localdata_SampleSource/지방행정인허가데이터개방OPENAPI 사용가이드_V4.4.pdf
sales_raw.csv
localdata_SampleSource/[붙임1] 지방행정인허가데이터개방_자치단체코드목록.xlsx
localdata_SampleSource/[붙임2] 지방행정인허가데이터개방_상세제공항목v4.2.xlsx
localdata_SampleSource/[붙임3] 지방행정인허가데이터개방_업종코드목록v2.2.xlsx
Untitled.ipynb
sanggwan_raw.csv
localdata_SampleSource/[붙임1] 지방행정인허가데이터개방_자치단체코드목록.xlsx
localdata_SampleSource/[붙임1] 지방행정인허가데이터개방_자치단체코드목록.xlsx
*.xlsx
.ipynb_checkpoints/상권분석-checkpoint.ipynb
